@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

button {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Roboto Condensed", "Nunito", Arial,Helvetica,sans-serif;
    font-weight: 550;
    width: 98.9vw; 
    height: auto; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #451400;
    position: relative;
}

.accessibility {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #f2f2f2;
    height: 36px;
    margin: 0 0;
    padding: 4px 2rem;
    font-size: 0.75rem;
    font-weight: 550;
    font-family: "Nunito";
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0;
    height: 100px;
    padding: 4px 2rem;
    font-size: 1.5rem;
    background-color: #fff;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0 1px 5px #d7d7d7;
}

.navbar .links {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.links img {
    width: 64px;
    height: 64px;
}

.links p {
    display: inline-block;
    position: relative;
}

.links p:hover {
    color: #962b00;
}

.links p::after {
    content: '';
    position: absolute;
    bottom: -5px;  
    left: 0;  
    width: 0;  
    height: 5px;  
    background-color: #962b00;  
    transition: width 0.3s ease;  
}

.links p:hover::after {
    width: 30px;
}

.navbar .ecommerce-ui {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 0.9rem;
    margin: 0 -15px 0 0;
    cursor: pointer;
    font-family: "Nunito";
    font-weight: 700;
}

.ecommerce-ui div {
    display: flex;
    gap: 10px;
}

.ecommerce-ui div:hover {
    color: #962b00;
}

#container {
    display: grid;
    justify-items: center;
    position: relative;
}

#container .hero {
    width: 98.9vw;
    height: auto;
}

#container .mini-ad {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 75px;
    border-bottom: 1px solid #451400;
    font-size: 1.5rem;
    text-align: center;
}

.mini-ad img {
    width: 62px;
    height: auto;
}

.mini-ad a {
    font-size: 1.2rem;
    color: #b68207;
    text-decoration: underline;
}

.mini-ad p:nth-child(4) {
    font-size: 1.2rem;
    font-weight: 200;
}

.mini-ad button {
    width: 210px;
    height: 34px;
    font-size: 1.2rem;
    background-color: #451400;
    color:#fff;
    font-family: "Roboto Condensed";
    font-weight: 500;
}

.mini-ad button:hover {
    background-color:#962b00;
    border-color: #962b00;
}

.food-types {
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: 2rem;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 80px;
    margin: 40px 0;
    cursor: pointer;
    position: relative;
}

.food-types div {
    position: relative;
}

.food-types img {
    width: 300px;
    height: auto;
}

.food-types p {
    margin: 0;
}
